<!--<div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.xs="center center">-->
<!--  <mat-toolbar class="title">-->
<!--    <h3>Angular Material 2 App</h3>-->
<!--    <span>Price: free</span>-->
<!--  </mat-toolbar>-->
<!--  <div class="subheader">-->
<!--    <mat-list fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-md="center center">-->
<!--      <mat-list-item fxLayoutAlign.gt-md="center center">NYC , november, 28</mat-list-item>-->
<!--      <mat-divider></mat-divider>-->
<!--    </mat-list>-->
<!--  </div>-->
<!--</div>-->

<div>
  <span class="tax">Price: free</span>
  <div fxLayout="row"
       fxLayoutAlign="center center"
       fxLayoutAlign.xs="center center"
       fxLayoutAlign.gt-sm="center center"
       fxLayoutAlign.gt-md="center center"
  >
    <div>
      <mat-toolbar class="title">
        <h3>Angular Material 2 App</h3>
      </mat-toolbar>
    </div>
  </div>
  <div class="date" fxLayout="row" fxLayoutAlign.md="center center" fxLayoutAlign.xl="center center" fxLayoutAlign.gt-md="center center" fxLayoutAlign.gt-xs="center center">
    <mat-list>
      <mat-list-item>NYC , november, 28</mat-list-item>
    </mat-list>
  </div>
<!--  <div class="divider" fxLayout="row"-->
<!--       fxLayoutAlign="center center"-->
<!--       fxLayoutAlign.gt-sm="center center"-->
<!--       fxLayoutAlign.gt-md="center center">-->
<!--    <mat-divider></mat-divider>-->
<!--  </div>-->
</div>
