/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Noto Serif, serif; overflow-x: hidden; background-color: #FDF5E6;}
mat-tipography-config {
  --font-family: 'Noto Serif', serif;
}

