
<div
  class="container"
  fxLayout="column"
  fxLayoutAlign="start center"
>
  <div fxLayout="column" fxFlex.gt-sm="100%" class="card">
  <mat-card *ngFor="let res of response">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{res.title}}</mat-card-title>
      <mat-card-subtitle>{{res.byline}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a notice">
    <mat-card-content>
      <p>
        {{res.abstract}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  </div>
</div>


<!--<div>-->
<!--  <table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th>id</th>-->
<!--      <th>name</th>-->
<!--      <th>email</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr *ngFor="let res of response">-->
<!--      <td>{{res.title}}</td>-->
<!--    </tbody>-->
<!--  </table>-->
<!--</div>-->

<div class="vertical_dotted_line"></div>

